* {
    margin: 0;
    padding: 0;
    font-size: 13px;
    list-style: none;
}

body {
    background-color: #c7ae9a;
}
#wrap {
    width: 960px;
    margin: 0 auto;
    background-color: #FFF;
}

#dh {
    width: 960px;
    height: 175px;
}

#dh img {
    width: 100%;
    height: 100%;
}



#banner {
    background: url(images/banner.jpg) no-repeat;
    height: 255px;
}

#menu {
    background-color: #fceaa9;
    height: 40px;
    background-image: url(images/navbg.jpg);
    background-repeat: repeat-x;
}

#menu a {
    font-family: "宋体";
    font-size: 14px;
    color: #016941;
    line-height: 40px;
    font-weight: bold;
    margin-left: 20px;
    padding: 0 15px;
    text-decoration: none;
    display: block;
    float: left;
}

#menu a:hover,
a.selected {
    background-image: url(images/navbghover.jpg);
    background-repeat: repeat-x;
}
#content {
    border-left: solid 1px #FCEAA9;
    border-right: solid 1px #FCEAA9;
}
#left {
    width: 330px;
    float: left;
    padding: 0 15px 30px 15px;
}
h1 {
    font: bold 14px "宋体";
    margin: 10px;
    padding: 5px;
    border-bottom: solid 1px #900;
    background-color: #FFF;
}

h2 {
    font: bold 14px "宋体";
    padding: 0 5px;
    background-color: #e6d8c2;
    line-height: 30px;
}
.time{
    padding-top: 20px;
    font-size: 30px;
    font-weight: 800;
    color: red;
}
#right {
    width: 590px;
    float: left;
    background-color: #FFF;
}

#rizhi,
#xiangce {
    border: solid 1px #CC9;
    margin: 10px;
    padding-bottom: 20px;
    background-color: #FFF;
}
#xiangce img {
    width: 175px;
    height: 175px;
    margin: 5px;
}

.fnt1 {
    color: #900;
    margin: 0 20px;
    line-height: 25px;
    letter-spacing: 3px;
}
.clr {
    clear: both;
}
footer {
    background-image: url(images/footer.jpg);
    background-repeat: no-repeat;
    height: 22px;
    text-align: center;
    padding-top: 34px;
    display: block;
}